/*------------------------*/ /*---> IMPORT <---*/ /*-------------------------*/

@import url("./general.css");
@import url("./manage.css");
@import url("./ui.css");

/*------------------------*/ /*---> GALLERY <---*/ /*------------------------*/

#gallery-container
{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-bottom: 15px;
}
#end-container
{
	margin-left:35vw;
	height:50px;
	width: 30vw;
	padding-bottom: 20px;
	display: flex;
	justify-content: space-around
}
.gal-icon
{
	height: 32px;
	width: 32px;
	color: #2C3531;
	margin: auto;
	text-align: center !important;
	line-height: 30px !important;
	display: inline-block;
	cursor: pointer;
	font-size: 12px !important;
	border-radius: 100vw;
}
.gal-icon:hover
{
	background: rgba(241,231,103,1);
	background: -moz-linear-gradient(-45deg, rgba(241,231,103,1) 0%, rgba(44,217,145,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(241,231,103,1)),
	color-stop(100%, rgba(44,217,145,1)));
	background: -webkit-linear-gradient(-45deg, rgba(241,231,103,1) 0%, rgba(44,217,145,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(241,231,103,1) 0%, rgba(44,217,145,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(241,231,103,1) 0%, rgba(44,217,145,1) 100%);
	background: linear-gradient(135deg, rgba(241,231,103,1) 0%, rgba(44,217,145,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', \
	endColorstr='#2cd991', GradientType=1 );
	-webkit-box-shadow: 0px 3px 8px 1px rgba(37,37,37,0.3);
	-moz-box-shadow: 0px 3px 8px 1px rgba(37,37,37,0.3);
}
.gal-icon:before
{
	top: 2px;
	height: 28px;
	width: 28px;
	color: #2C3531;
	content: "";
	content: "";
	display: inline-block;
	background-color: white;
	border-radius: 100vw;
	position: relative;
	transition: all 500ms ease;
}
.gal-icon:hover:before
{
	box-shadow: 0px 3px 6px 1px rgba(42,42,42,0.2);
}

.gal-num
{
	cursor: default;
	height: 30px;
	margin-top: 10px;
	color: #2C3531;
	line-height: 30px !important;
	vertical-align: center !important;
	font-size: 0.9em !important;
	font-weight: bold;
}
.capsule
{
	cursor: pointer;
	margin: 10px;
	width: 280px;
	height: 200px;
	overflow: hidden;
	border-radius: 8px;
	-webkit-box-shadow: 0px 3px 8px 1px rgba(37,37,37,0.3);
	-moz-box-shadow: 0px 3px 8px 1px rgba(37,37,37,0.3);
	box-shadow: 0px 3px 8px 1px rgba(37,37,37,0.3);
	background-image: url("../assets/mountain-bg.jpg");
	background-position: center bottom;
	background-size: cover;
	background-repeat: no-repeat;
	transition: background-size 1.4s;
}
.capsule:hover .cap-header
{
	top: 0px;
	opacity: 1;
	transition: top 0.4s, opacity 0.5s;
}
.gallery-separator
{
	height: 50px;
	width: 100vw;
}
.cap-header
{
	top: -100%;
	opacity: 0;
	left: 0;
	width: 100%;
	height: 25px;
	transition: top 0.4s, opacity 0.5s;
	background: rgba(0,0,0,.4);
	position: relative;

}
.cap-icon
{
	height: 25px;
	color: white;
	line-height: 25px !important;
	vertical-align: center !important;
	font-size: 0.8em !important;
	display: inline;
}
.cap-separator
{
	margin-right: 15px;
	display: inline;
}
.cap-p
{
	height: 25px;
	color: white;
	line-height: 25px !important;
	vertical-align: center !important;
	font-size: 0.8em !important;
}
.cap-right
{
	float: right;
	margin-right: 15px;
}
.cap-num
{
	height: 25px;
	color: white;
	line-height: 25px !important;
	vertical-align: center !important;
	font-size: 0.9em !important;
}
.cap-hr
{
	width: 100%;
	height: 2px;
	background: rgba(241,231,103,.6);
	background: -moz-linear-gradient(-45deg, rgba(241,231,103,1) 0%, rgba(44,217,145,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(241,231,103,1)),
	color-stop(100%, rgba(44,217,145,1)));
	background: -webkit-linear-gradient(-45deg, rgba(241,231,103,1) 0%, rgba(44,217,145,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(241,231,103,1) 0%, rgba(44,217,145,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(241,231,103,1) 0%, rgba(44,217,145,1) 100%);
	background: linear-gradient(135deg, rgba(241,231,103,1) 0%, rgba(44,217,145,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', \
	endColorstr='#2cd991', GradientType=1 );
}
@media screen and (min-width: 1800px)
{
	#gallery-container
	{
		width: 80vw;
		margin-left: 10vw;
	}
}
@media screen and (max-width: 767px)
{
	#gallery-container
	{
		justify-content: center;
	}
}
