*
{
	margin: 0;
	padding: 0;
	border: 0;
}
@font-face {
	font-family: 'menlo';
	src: url('../font/Menlo-Regular.ttf');
}
body
{
	font-family: menlo;
	overflow-y: scroll;
	overflow-x: hidden;
	min-width: 100vw;
	max-width: 100vw;
	min-height: 100vh;
	max-height: 100vh;
}
a
{
	color: blue;
	font-size: 11px;
	font-family: inherit;
	display: inline-block;
	text-decoration: none;
}
a:nth-child(1)
{
	text-align: left;
}
a:hover
{
	color: #2CD991;
	cursor: pointer;
}
a:nth-child(2)
{
	text-align: right;
}
.toleft
{
	float: left;
}
.toright
{
	float: right;
}
