
/*------------------------*/ /*---> IMPORT <---*/ /*-------------------------*/

@import url("./general.css");
@import url("./manage.css");
@import url("./ui.css");

/*------------------------*/ /*---> IMG FOCUS <---*/ /*------------------------*/

#img_viewer
{
	width: 25vw;
	height: 25vw;
	margin-left: 37.5vw;
	border-radius: 5px;
	background-image: url("../assets/mountain-bg.jpg");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-box-shadow: 0px 3px 8px 1px rgba(37,37,37,0.3);
	-moz-box-shadow: 0px 3px 8px 1px rgba(37,37,37,0.3);
	box-shadow: 0px 3px 8px 1px rgba(37,37,37,0.3);
}
#img_viewer:before
{
	transition: all 1ms;
}
#img_viewer:before
{
	width: 25vw;
	height: 25vw;
	content: "";
	display: block;
	border-radius: 5px;
	opacity: 0;
	transition: all 0.5s ease;
	background-color: black;
}
#img_viewer:hover:before
{
	opacity: 0.2;
	transition: all 0.5s ease;
}
#like_but
{
	cursor: pointer;
	width: 5vw;
	height: 5vw;
	margin-top: -15vw;
	margin-left: 10vw;
	position: absolute;
	display: inline-block;
	opacity: 0;
	background-color: lightgrey;
	transition: all 0.5s ease;
}
#img_viewer:hover #like_but
{
	opacity: 1;
	transition: all 0.5s ease;
}
.imgfocus-separator
{
	height: 80px;
	width: 100vw;
}

@media screen and (max-width: 767px)
{
	#img_viewer
	{
		width: 75vw;
		height: 75vw;
		margin-left: 11.5vw;
	}
}
