/*------------------------*/ /*---> IMPORT <---*/ /*-------------------------*/

@import url("./general.css");
@import url("./manage.css");
@import url("./ui.css");

/*------------------------*/ /*---> STUDIO <---*/ /*------------------------*/

.studio-separator
{
	height: 80px;
	width: 100vw;
}
.sideOne
{
	width: 70vw;
	height: 40px;
	display: inline-block;
}
.sideTwo
{
	width: 30vw;
	height: auto;
	float: right;
	overflow-y: scroll;
	overflow-x: hidden;
	position: relative;
}
.webcam-container
{
	width: 40vw;
	margin-left: 15vw;
	padding-top: 4px;
	padding-left: 4px;
	padding-right: 4px;
	height: auto;
	background: rgba(241,231,103,1);
	background: -moz-linear-gradient(-45deg, rgba(241,231,103,1) 0%, rgba(44,217,145,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(241,231,103,1)),
	color-stop(100%, rgba(44,217,145,1)));
	background: -webkit-linear-gradient(-45deg, rgba(241,231,103,1) 0%, rgba(44,217,145,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(241,231,103,1) 0%, rgba(44,217,145,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(241,231,103,1) 0%, rgba(44,217,145,1) 100%);
	background: linear-gradient(135deg, rgba(241,231,103,1) 0%, rgba(44,217,145,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', \
	endColorstr='#2cd991', GradientType=1 );
	-webkit-box-shadow: 0px 3px 8px 1px rgba(37,37,37,0.3);
	-moz-box-shadow: 0px 3px 8px 1px rgba(37,37,37,0.3);
}
.img-container
{
	width: 20vw;
	height: 60vw;
	margin-left: 5vw;
	display: flex;
	justify-content: center;
	flex-direction: column !important;
	flex-wrap: no-wrap;
	position: relative;
	background: rgba(241,231,103,1);
	background: -moz-linear-gradient(-45deg, rgba(241,231,103,1) 0%, rgba(44,217,145,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(241,231,103,1)),
	color-stop(100%, rgba(44,217,145,1)));
	background: -webkit-linear-gradient(-45deg, rgba(241,231,103,1) 0%, rgba(44,217,145,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(241,231,103,1) 0%, rgba(44,217,145,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(241,231,103,1) 0%, rgba(44,217,145,1) 100%);
	background: linear-gradient(135deg, rgba(241,231,103,1) 0%, rgba(44,217,145,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', \
	endColorstr='#2cd991', GradientType=1 );
	-webkit-box-shadow: 0px 3px 8px 1px rgba(37,37,37,0.3);
	-moz-box-shadow: 0px 3px 8px 1px rgba(37,37,37,0.3);
}
.filter-container
{
	width: 15vw;
	height: 10vw;
	margin-left: 2.5vw;
	border-radius: 5px;
	background-color: white;
	margin-top: 15px;
	margin-bottom: 15px;
	display: block;
}
.filter-separator
{
	width: 15vw;
	height: 15px;
	opacity: 0;
}
#webcam
{
	width: 100%;
	height: auto;
}
#but-container
{
	width: 50vw;
	margin-left: 10vw;
	min-height: 40px;
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.c_studio
{
	padding: 15px;
}
@media screen and (max-width: 1023px)
{
	#but-container
	{
		width: 80vw;
		margin-left: 10vw;
	}
	.img-container
	{
		width: 80vw;
		height: auto;
		margin-left: 10vw;
		flex-direction: row !important;
		justify-content: space-around;
		flex-wrap: wrap;
		
	}
	.webcam-container
	{
		width: 75vw;
		margin-left: 11.5vw;
	}
	.sideOne
	{
		height: auto;
		display: block;
	}
	.sideTwo
	{
		margin-top: 40px;
		width: 100vw;
		float: clear;
		display: block;
	}
}
@media screen and (max-width: 767px)
{
	.webcam-container
	{
		width: 75vw;
		margin-left: 11.5vw;
	}
	#but-container
	{
		width: 80vw;
		margin-left: 10vw;
	}
}
@media screen and (max-width: 424px)
{
	#but-container
	{
		width: 98vw;
		margin-left: 1vw;
	}
}
