header
{
	top: 0;
	width: 100vw;
	height: 50px;
	background-color: white;
	-webkit-box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.15);
	box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.15);
	visibility: visible;
	z-index: 50;
	position: fixed;
}
.header-container
{
	width: 100vw;
	height: 48px;
	display: flex;
	flex-wrap: row;
	justify-content: center;
}
.header-hr
{
	width: 100vw;
	height: 2px;
	background: rgba(241,231,103,.6);
	background: -moz-linear-gradient(-45deg, rgba(241,231,103,1) 0%, rgba(44,217,145,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(241,231,103,1)),
	color-stop(100%, rgba(44,217,145,1)));
	background: -webkit-linear-gradient(-45deg, rgba(241,231,103,1) 0%, rgba(44,217,145,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(241,231,103,1) 0%, rgba(44,217,145,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(241,231,103,1) 0%, rgba(44,217,145,1) 100%);
	background: linear-gradient(135deg, rgba(241,231,103,1) 0%, rgba(44,217,145,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', \
	endColorstr='#2cd991', GradientType=1 );
}
.nav-home
{
	width: 25vw;
	height: 100%;
	margin: 0;
	background-position: center center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url("../assets/logo.svg");
}
.nav-spacer
{
	width: 45vw;
	height: 100%;
	margin: 0;
	/*background-color: green;*/
}
.nav-ui
{
	width: 30vw;
	height: 100%;
	margin: 0;
	display: flex;
	justify-content: auto;
	flex-wrap: row;

}
.nav-button
{
	cursor: pointer;
	line-height: 50px !important;
	min-width: 30px;
	width: 3.5vw;
	height: 48px;
	margin-right: 2px;
	vertical-align: middle !important;
	text-align: center;
	display: inline-block;
	opacity: 1;
	color: black;
	transition: all 0.5s ease;
}
.nav-button:hover
{
	opacity: 0.70;
	transition: all 0.5s ease;
	border-bottom: solid black 2px;
}

footer
{
	bottom: 0px;
	width: 100vw;
	height: 35px;
	display: flex;
	flex-wrap: row;
	justify-content: auto;
	background-color: white;
}
.nav-credit
{
	width: 30vw;
	font-family: menlo;
	font-size: 0.8em;
	line-height: 35px;
	text-align: center;
	vertical-align: center;
	color: #2C3531;
}
.nav-credit a
{
	font-family: menlo;
	font-size: 0.9em;
	line-height: 30px;
	text-align: center;
	vertical-align: center;
	color: #2C3531;
	cursor: pointer;
	text-decoration: none;
	transition: all 0.5s ease;
}
.nav-credit a:hover
{
	color: #2C3531;
	opacity: 0.6;
	text-decoration: underline;
	transition: all 0.5s ease;
}
.nav-sign
{
	width: 30vw;
	font-family: menlo;
	font-size: 0.8em;
	line-height: 35px;
	text-align: center;
	vertical-align: center;
	color: #2C3531;
}
.nav-sign a
{
	font-family: menlo;
	font-size: 0.8em;
	line-height: 30px;
	text-align: center;
	vertical-align: center;
	color: #2C3531;
	cursor: pointer;
	text-decoration: none;
	transition: all 0.5s ease;
}
.nav-sign a:hover
{
	color: #2C3531;
	opacity: 0.6;
	text-decoration: underline;
	transition: all 0.5s ease;
}

@media screen and (max-width: 767px)
{
	.nav-home
	{
		width: 40vw;
		margin-right:10vw;
	}
	.nav-ui
	{
		width: 50vw;
	}
	.nav-spacer
	{
		display: none;
		visibility: hidden;
	}
	.nav-credit
	{
		font-size: 0.6em;
		width: 60vw;
	}
	.nav-sign
	{
		font-size: 0.6em;
		width: 40vw;
	}
}
